# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib
bin

# IDE
.vscode

# Test binary, built with `go test -c`
*.test
testdata

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Dependency directories (remove the comment below to include it)
# vendor/
